<h1>New phone</h1>

<% form_for([@callable, @phone]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :número %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :descrição %><br />
    <%= f.text_field :description %>
  </p>  
  <p>
    <%= f.label :tipo %><br />
    <%= select :phone, :phone_type, options_for_select(@phone.type_choices) %>
  </p>
  <p>
    <%= f.label :operadora %><br />
    <%= select :phone, :company, options_for_select(@phone.company_choices) %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', @callable %>