  <tr>
    <td><%=h note.created_at.strftime("%D as %H:%M") %></td>
    <td><%=h note.creator %></td>
  	<td>
	  <% if note.versionable_version and not note.versionable_version.zero? %>
		<% note.versionable.important_changes(note.versionable_version).each do |k,v| %>
	    <p><%= "#{k} changed from #{v[0]} to #{v[1]}" %></p>
		<% end %>
	  <% else %>
		<p>-</p>
	  <% end %>

	</td>
    <td><%=h note.subject %></td>
    <td><%=h note.content %></td>
    <td><%= link_to 'Alterar', edit_note_path(note) %></td>
    <td><%= link_to 'Remover', note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>


