  <div class="text_block">
  <div class="block_title">
  	<span class="timestamp"><%=h "#{note.created_at.strftime("%D as %H:%M")} por #{note.creator}" %> <%= link_to 'alterar', edit_note_path(note) %> | <%= link_to 'remover', note, :confirm => 'Are you sure?', :method => :delete %></span>

  	<span class="title_text"><strong><%=h note.subject %></strong></span>
  <br class="clear" />
  </div>
  
  <% if note.versionable_version and not note.versionable_version.zero? %>
	<ul>
	<% note.versionable.important_changes(note.versionable_version).each do |k,v| %>
      <li><%= "#{k} mudou de <strong>'#{v[0]}'</strong> para <strong>'#{v[1]}'</strong>" %></li>
	<% end %>
    </ul>
	<% end %>

	<div class="block_content">
	  <%= note.content.to_html %>	
	</div>
    
  </div>