  <tr>
    <td><%=h "#{note.created_at.strftime("%D as %H:%M")} por #{note.creator}" %></td>
  	<td>
	  <% if note.versionable_version and not note.versionable_version.zero? %>
		<% note.versionable.important_changes(note.versionable_version).each do |k,v| %>
	    <p><%= "#{k} mudou de '#{v[0]}' para '#{v[1]}'" %></p>
		<% end %>
	  <% else %>
		<p>-</p>
	  <% end %>

	</td>
    <td><p><strong><%=h note.subject %></strong></p>
	<p><%=h note.content %></p></td>
    <td><%= link_to 'Alterar', edit_note_path(note) %></td>
    <td><%= link_to 'Remover', note, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>


