<h3>Alterar Pessoa</h3>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :forename %>
  </p>
  <p>
    <%= f.label :sobrenome %><br />
    <%= f.text_field :surname %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Cancelar', home_path %>