<% content_for :title do %>
<% end %>
<% content_for :back do %>
<ul>
	<li><%= link_to 'Voltar para pessoas', people_url %></li>
</ul>
<% end %>
<% content_for :shortcuts do %>
<ul>
	<li><%= link_to 'Alterar', edit_person_path(@person) %></li>
	<li><%= link_to 'Remover', person_path(@person), :confirm => 'Are you sure?', :method => :delete %></li>	
	<li><%= link_to 'Cadastrar Informação', new_person_fact_path(@person) %></li>
	<li><%= link_to 'Cadastrar Contato', new_person_contact_form_path(@person) %></li>
	<li><%= link_to 'Cadastrar Relacionamento', new_person_link_path(@person) %></li>
</ul>
<% end %>

<p>
  <b>Nome:</b>
  <%=h @person.forename %>
</p>

<p>
  <b>Sobrenome:</b>
  <%=h @person.surname %>
</p>


<h3>Formas de Contato</h3>

<% unless @person.contact_forms.count.zero? %>
<table>
  <tr>
    <th>Tipo</th>
    <th>Contato</th>
  </tr>

<% @person.contact_forms.each do |contact_form| %>
  <tr>
    <td><%=h contact_form.contact_type %></td>
    <td><%=h contact_form.contact %></td>
    <td><%= link_to 'Alterar', edit_contact_form_path(contact_form) %></td>
    <td><%= link_to 'Remover', contact_form, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem formas de contato. (<%= link_to "Adicionar", new_person_contact_form_path(@person) %>) </p>
<% end %>

<h3>Relacionamentos Diretos</h3>

<% unless @person.direct_links.count.zero? %>
<table>
  <tr>
    <th>Tipo</th>
    <th>Complemento</th>
    <th>Relacionado</th>
  </tr>

<% @person.direct_links.each do |link| %>
  <tr>
    <td><%=h link.friendly_link_type %></td>
    <td><%=h link.complement %></td>
    <td><%= link_to link.linkable, link.linkable %></td>
    <td><%= link_to 'Alterar', edit_link_path(link) %></td>
    <td><%= link_to 'Remover', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem relacionamentos diretos. (<%= link_to "Adicionar", new_person_link_path(@person) %>)</p>
<% end %>
<h3>Relacionamentos Reversos</h3>

<% unless @person.reverse_links.count.zero? %>
<table>
  <tr>
    <th>Pessoa</th>
    <th>Tipo</th>
    <th>Complemento</th>
  </tr>

<% @person.reverse_links.each do |link| %>
  <tr>
    <td><%=h link.person %></td>
    <td><%=h link.friendly_link_type %></td>
    <td><%=h link.complement %></td>
    <td><%= link_to 'Alterar', edit_link_path(link) %></td>
    <td><%= link_to 'Remover', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem relacionamentos reversos. </p>
<% end %>

<h3>Informações</h3>

<% unless @facts.count.zero? %>
<table>
  <tr>
    <th>Tipo</th>
    <th>Valor</th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%=h fact.information_category.name %></td>
    <td><%=h fact.content %></td>
    <td><%= link_to 'Alterar', edit_fact_path(fact) %></td>
    <td><%= link_to 'Remover', fact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem informações associadas a essa pessoa. (<%= link_to "Adicionar", new_person_fact_url(@person) %>)</p>
<% end %>
