<h1>Listing interactions</h1>

<table>
  <tr>
    <th>Creator</th>
    <th>Opportunity</th>
    <th>Type</th>
    <th>Subject</th>
    <th>Content</th>
  </tr>

<% @interactions.each do |interaction| %>
  <tr>
    <td><%=h interaction.creator %></td>
    <td><%=h interaction.opportunity %></td>
    <td><%=h interaction.type %></td>
    <td><%=h interaction.subject %></td>
    <td><%=h interaction.content %></td>
    <td><%= link_to 'Show', interaction %></td>
    <td><%= link_to 'Edit', edit_interaction_path(interaction) %></td>
    <td><%= link_to 'Destroy', interaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New interaction', new_interaction_path %>