<% content_for :javascript do %>
  <%= javascript_include_tag "/date-picker-v5/js/datepicker.js" %>

  <script type="text/javascript">
  	function clearforms() 
	{
		$("interaction_type_name").clear();
		$('add_interaction_type').hide();
	}
  </script>
<% end %>
<% content_for :stylesheet do %>
  <%= stylesheet_link_tag '/date-picker-v5/css/datepicker.css' %>
<% end %>
<% content_for :back do %>
<ul><li><%= link_to 'Voltar para oportunidade', @opportunity %></li></ul>
<% end %>
<% content_for :shortcuts do %>
<ul><li><%= link_to_function("Adicionar Tipo de Atividade", "$('add_interaction_type').show()")%>
</li></ul>
<% end %>
<% content_for :title do %>
<%=h @account.name %> > <%=h @opportunity.product %> > Nova Atividade Agendada 
<% end %>


<div id="add_interaction_type" style="display:none;">
  <h2>Novo Tipo de Atividade</h2>
  <% form_remote_for InteractionType.new, :update => "interaction_type_id", :position => :bottom, :html => {:id => 'interaction_type_form'}, :complete => "clearforms()" do |itform| %>
    <p>Nome</p> <%= itform.text_field :name %>
    <p><%= itform.submit 'Salvar' %></p>
	<p><%= link_to_function("Cancelar", "$('add_interaction_type').hide()")%></p>
<% end %>
<hr />
</div>


<h2>Nova Atividade Agendada para <%=h @opportunity %> em <%=h @account %></h2>

<% form_for([:opportunity, @interaction]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :data %><br />
  	<%= f.text_field :scheduled_date %>
  </p>
  <script type="text/javascript">
      // <![CDATA[       
        var opts = {     
                // Attach input with an id of "dp-1" and give it a "d-sl-m-sl-Y" date format (e.g. 13/03/1990)                        
                formElements:{"interaction_scheduled_date":"d-sl-m-sl-Y"}                  
        };        
        datePickerController.createDatePicker(opts);
      // ]]>
  </script>

  <p>
    <%= f.label :hora %><br />
  	<%= f.text_field :scheduled_time %>
  </p>
  <p>
    <%= f.label :tipo %><br />
  	<%= select :interaction, :type_id, InteractionType.find(:all).collect { |it| [it.name, it.id] }%>
  </p>
  <p>
    <%= f.label :assunto %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :objetivos %> [<a title="Ajuda na Formatação" href="http://help.lighthouseapp.com/faqs/getting-started/how-do-i-format-text" target="_blank">ajuda na formatação</a>]<br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>