<% content_for :shortcuts do %>
  <ul>
	<li><%= link_to 'Voltar para Oportunidade', @opportunity %></li>
  	<li><%= link_to 'Alterar Interação', edit_interaction_path(@interaction) %></li>
	<li><%= link_to 'Remover Interação', @interaction, :confirm => 'Are you sure?', :method => :delete %></li>
	<li><%= link_to 'Atualizar Interação', new_interaction_note_url(@opportunity) %></li>
  </ul>
<% end %>
<h2>Detalhes de Interação Comercial</h2>

<table>
  <tr>
    <th>Relator</th>
    <th>Tipo</th>
    <th>Assunto</th>
  </tr>
  <tr>
    <td><%=h @interaction.creator %></td>
    <td><%=h @interaction.type %></td>
    <td><%=h @interaction.subject %></td>
  </tr>
</table>



<h2>Notas associadas</h2>
<table>
  <tr>
    <th>Data</th>
    <th>Relator</th>
    <th>Título</th>
    <th>Conteúdo</th>
  </tr>

<% @notes.each do |note| %>
  <%= render :partial => 'notes/index', :locals => {:note => note, :notes => @notes} %>
<% end %>
</table>
