<p>
  <b>Creator:</b>
  <%=h @interaction.creator %>
</p>

<p>
  <b>Opportunity:</b>
  <%=h @interaction.opportunity %>
</p>

<p>
  <b>Type:</b>
  <%=h @interaction.type %>
</p>

<p>
  <b>Subject:</b>
  <%=h @interaction.subject %>
</p>

<p>
  <b>Content:</b>
  <%=h @interaction.content %>
</p>


<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>