<h2>Interação Técnica</h2>

<table>
  <tr>
    <th>Relator</th>
    <th>Tipo</th>
    <th>Assunto</th>
  </tr>

  <tr>
    <td><%=h @interaction.creator %></td>
    <td><%=h @interaction.type %></td>
    <td><%=h @interaction.subject %></td>
    <td><%= link_to 'Detalhes', @interaction %></td>
    <td><%= link_to 'Alterar', edit_interaction_path(@interaction) %></td>
    <td><%= link_to 'Remover', @interaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>

<%= link_to 'Voltar para oportunidade', @opportunity %> <%= link_to 'adicionar nota', new_interaction_note_url(@opportunity) %>

<h2>Notas associadas</h2>
<table>
  <tr>
    <th>Data</th>
    <th>Relator</th>
    <th>Título</th>
    <th>Conteúdo</th>
  </tr>

<% @notes.each do |note| %>
  <%= render :partial => 'notes/index', :locals => {:note => note, :notes => @notes} %>
<% end %>
</table>
