<h1>Editing issue</h1>

<% form_for(@issue) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= select :issue, :status_id, IssueStatus.find(:all).collect{|i| [i.name, i.id]} %>
  </p>
  <p>
    <%= f.label :responsável %><br />
    <%= select :issue, :responsible_id, [["Nenhum",false]] + User.find(:all).collect{|u| [u.login, u.id] } %>
  </p>  
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @issue %> |
<%= link_to 'Back', issues_path %>