<h1>New issue</h1>

<% form_for([:opportunity, @issue]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= select :issue, :status_id, IssueStatus.find(:all).collect{|s| [s.name, s.id] } %>
  </p>
  <p>
    <%= f.label :assunto %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :conteúdo %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'Adicionar' %>
  </p>
<% end %>

<%= link_to 'Voltar para oportunidade', @opportunity %>