<% content_for :shortcuts do %>
<ul>
	<li><%= link_to "Voltar para Oportunidade", @opportunity%></li>
	<li><%= link_to 'Remover Problema', @issue, :confirm => 'Are you sure?', :method => :delete %></li>
	<li><%= link_to_function("Atualizar Problema", "$('add_note').show()") %></li>
</ul>
<% end %>

<h2>Detalhes de Problema</h2>

  	<p><strong>Descrição:</strong></p>
	<p><%=h @issue.subject %> <br /><%=h @issue.content %></p>
	<p>Relatado em: <strong><%= @issue.created_at.strftime("%D as %H:%M") %></strong> por <%=h @issue.creator %></p>
	<p>Status: <strong><%=h @issue.issue_status %></strong></p>
    <p>Responsável: <strong><%=h @issue.responsible %></strong></p>

<br />
<h2>Atualizações e Comentários</h2>
<table>
  <tr>
    <th>Data</th>
    <th>Atualizações</th>	
    <th>Comentários</th>
  </tr>

<% @notes.each do |note| %>
  <%= render :partial => 'notes/index', :locals => {:note => note} %>
<% end %>
</table>


<div id="add_note" style="display:none">
	<h2>Atualizar Problema</h2>
<% form_for([@issue, Note.new]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :status %><br />
    <%= select :issue, :issue_status_id, IssueStatus.find(:all).collect{|s| [s.name, s.id] } %>
  </p>
  <p>
    <%= f.label :responsável %><br />
    <%= select :issue, :responsible_id, User.find(:all).collect{|u| [u.login, u.id] } %>
  </p>

  <p>
    <%= f.label :assunto %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.label :conteúdo %><br />
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

</div>
