<h2> Interações Técnicas </h2>

<table>
  <tr>
    <th>Assunto</th>
	<th>Conteúdo</th>
    <th>Status</th>
    <th>Data</th>
    <th>Relator</th>
    <th>Responsável</th>
  </tr>

  <tr>  	
    <td><%=h @issue.subject %></td>
    <td><%=h @issue.content %></td>
    <td><%=h @issue.status %></td>
    <td><%=h @issue.created_at.strftime("%D as %H:%M") %></td>
    <td><%=h @issue.creator %></td>
    <td><%=h @issue.responsible %></td>	
    <td><%= link_to 'Detalhes', @issue %></td>
    <td><%= link_to 'Alterar', edit_issue_path(@issue) %></td>
    <td><%= link_to 'Remover', @issue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>

<%= link_to "voltar para oportunidade", @opportunity%>
<%= link_to "adicionar nota", new_issue_note_path(@issue) %>

<h2>Notas associadas</h2>
<table>
  <tr>
    <th>Data</th>
    <th>Relator</th>
    <th>Título</th>
    <th>Conteúdo</th>
  </tr>

<% @notes.each do |note| %>
  <%= render :partial => 'notes/index', :locals => {:note => note, :notes => @notes} %>
<% end %>
</table>
