<h1>Editing interaction_type</h1>

<% form_for(@interaction_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @interaction_type %> |
<%= link_to 'Back', interaction_types_path %>