<% content_for :shortcuts do %>
<ul>
<li><%= link_to "Adicionar Usuário", new_user_path %></li>
</ul>

<% end %>

<h2>Todos os Usuários</h2>

<table>
  <tr>
    <th>Nome</th>	
    <th>Email</th>
    <th></th>	
    <th></th>	
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.login %></td>
	<td><%= user.email %></td>
    <td><%= link_to 'Alterar', edit_user_path(user) %></td>
    <td><%= link_to 'Remover', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
 
