<h1>Minhas Contas</h1>

<table>
  <tr>
    <th>Nome</th>	
    <th>Valor</th>
    <th>Interações</th>
    <th>Problemas</th>	
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.name %> ( <%= account.opportunities.count %> )</td>
    <td>R$ <%= account.opportunities.sum(:value) %></td>
    <td><%= account.interactions_sum %></td>
    <td><%= account.open_issues_sum %>/<%= account.issues_sum %></td>
    <td><%= link_to 'Nova Oportunidade', new_account_opportunity_path(account) %></td>	
    <td><%= link_to 'Detalhes', account %></td>
    <td><%= link_to 'Alterar', edit_account_path(account) %></td>
    <td><%= link_to 'Remover', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova Conta', new_account_path %> | 
<%= link_to 'Novo Usuário', new_user_path %>
