<% content_for :shortcuts do %>
<ul><li><%= link_to 'Nova Conta', new_account_path %></li></ul>
<% end %>

<h2>Minhas Contas</h2>

<table>
  <tr>
    <th>Nome</th>	
    <th>Valor</th>
    <th>Interações</th>
    <th>Problemas</th>	
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to "#{account.name} ( #{account.opportunities.count} )", account %> </td>
    <td>R$ <%= account.opportunities.sum(:value) %></td>
    <td><%= account.interactions_sum %></td>
    <td><%= account.open_issues_sum %>/<%= account.issues_sum %></td>
  </tr>
<% end %>
</table>
