<h1>Editing issue_status</h1>

<% form_for(@issue_status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :creator %><br />
    <%= f.text_field :creator %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @issue_status %> |
<%= link_to 'Back', issue_statuses_path %>