<h1>Alterar relacionamento</h1>

<% form_for @link, :action => 'update' do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :relacionado %><br />
    <%= f.text_field :linkable, {:value => @link.linkable.to_s, :disabled => true } %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= select :link, :link_type, options_for_select(@linktype_choices) %>
  </p>
  <p>
    <%= f.label :complemento %><br />
    <%= f.text_field :complement %>
  </p>
  <p>
    <%= f.submit 'Atualizar' %>
  </p>
<% end %>

<%= link_to 'Cancelar', @person %>