<% content_for :title do %>
Todas as oportunidades
<% end %>
<% content_for :back do %>
<ul><li><%= link_to 'Voltar para contas', accounts_url %></li></ul>
<% end %>

<h2>Todas as Oportunidades</h2>

<% unless @opportunities.count.zero? %>
<table>
<tr>
  <th scope="col" abbr="Conta">Conta</th>  
  <th scope="col" abbr="Produto">Produto</th>  
  <th scope="col" abbr="Valor">Valor</th>
  <th scope="col" abbr="Valor">Status</th>
  <th scope="col" abbr="Valor">Gerente</th>
</tr>
<% @opportunities.each do |opportunity| %>
<tr>
  <td><%= link_to opportunity.account, opportunity.account %></td>
  <td><%= link_to opportunity.product, opportunity %></td>
  <td>R$ <%=h opportunity.value %></td>
  <td><%=h opportunity.opportunity_status %></td>
  <td><%=h opportunity.manager %></td>
</tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem oportunidades associadas a essa conta.</p>
<% end %>