<% content_for :title do %>
<%=h @account.name %> > <%=h @opportunity.product %> 
<% end %>
<% content_for :back do %>
<ul>
	<li><%= link_to 'Voltar para conta', @account %></li>
</ul>
<% end %>
<% content_for :shortcuts do %>
<ul>
  	<li><%= link_to 'Alterar Oportunidade', edit_opportunity_path(@opportunity) %></li> 
	<li><%= link_to 'Remover Oportunidade', @opportunity, :confirm => 'Tem Certeza?', :method => :delete %></li>
	<li><%= link_to 'Agendar Atividade', new_opportunity_interaction_path(@opportunity)%></li>
</ul>
<% end %>

<h2> Detalhes de Oportunidade para <%=h @account.name %></h2>

  <p>Produto: <strong><%=h @opportunity.product %></th></strong></p>
  <p>Valor: <strong>R$ <%=h @opportunity.formated_value %></strong></p>
  <p>Status: <strong><%=h @opportunity.opportunity_status %></strong></p>
  <p>Gerente: <strong><%=h @opportunity.manager %></strong></p>

<h2>Atividades Agendadas</h2>

<% @interactions.each do |interaction| %>

<table>
  <tr>
	<th>Data</th>	
    <th>Assunto</th>
    <th>Objetivos</th>
    <th>Tipo</th>
    <th>Relator</th>
	<th>Notas</th>
  </tr>

  <tr>
    <td><%=h interaction.scheduled_date %></td>	
	<td><%= link_to interaction.subject, interaction %></td>
    <td><%=h interaction.content %></td>
    <td><%=h interaction.type %></td>
    <td><%=h interaction.creator %></td>
    <td><%=h interaction.notes.count %></td>
  </tr>
</table>
  <% if interaction.notes.count > 0 %>
  <p>Histórico:</p>
  <% interaction.notes.each do |note| %>
    <%= render :partial => 'notes/index', :locals => {:note => note} %>
  <% end %>
  <% end %>
<% end %>


<!--
<h2>Problemas Relatados</h2>

<table>
  <tr>
    <th>Assunto</th>
    <th>Status</th>
    <th>Relator</th>
    <th>Responsável</th>	
    <th>Notas</th>
    <th>Data</th>
  </tr>

<% @issues.each do |issue| %>
  <tr>  	
    <td><%=h issue.subject %></td>
    <td><%=h issue.issue_status %></td>
    <td><%=h issue.creator %></td>
    <td><%=h issue.responsible %></td>
    <td><%=h issue.notes.count %></td>
    <td><%=h issue.created_at.strftime("%D as %H:%M") %></td>
    <td><%= link_to 'Detalhes', issue %></td>
    <td><%= link_to 'Alterar', edit_issue_path(issue) %></td>
    <td><%= link_to 'Remover', issue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
-->
