<% content_for :shortcuts do %>
<ul>
	<li><%= link_to 'Voltar para conta', @account %></li>
	<li><%= link_to 'Nova Interação Comercial', new_opportunity_interaction_path(@opportunity)%></li>
	<li><%= link_to 'Nova Interação Técnica', new_opportunity_issue_path(@opportunity)%></li>
</ul>
<% end %>

<h2> Detalhes de Oportunidade</h2>

<table id="mytable" cellspacing="0" summary="Detalhes da oportunidade <%=h @opportunity.product.name %>">
<caption>Criada em <%= @opportunity.created_at %> por <%=h @opportunity.creator %></caption>
<tr>
  <th scope="col" abbr="Produto"><%=h @opportunity.product %></th>
  <th scope="col" abbr="Opções">
	    <%= link_to 'Detalhes', @opportunity %> | 
  	    <%= link_to 'Alterar', edit_opportunity_path(@opportunity) %> | 
	    <%= link_to 'Remover', @opportunity, :confirm => 'Tem Certeza?', :method => :delete %>
  </th>
</tr>
<tr>
  <th scope="row" class="specalt" abbr="Valor">Valor: R$ <%=h @opportunity.value %></th>
  <td>Atualmente em: <%=h @opportunity.opportunity_status %></td>
</tr>
<tr>
	<td>  	
    </td>
    <td>Gerenciada por: <%=h @opportunity.manager %></td>
</tr>
</table>

<h2>Interações Comerciais</h2>

<% @interactions.each do |interaction| %>

<p>Interação: </p>
<table>
  <tr>
    <th>Assunto</th>
    <th>Tipo</th>
    <th>Relator</th>
	<th>Notas</th>
  </tr>

  <tr>
    <td><%=h interaction.subject %></td>
    <td><%=h interaction.type %></td>
    <td><%=h interaction.creator %></td>
    <td><%=h interaction.notes.count %></td>
    <td><%= link_to 'Detalhes', interaction %></td>
    <td><%= link_to 'Alterar', edit_interaction_path(interaction) %></td>
    <td><%= link_to 'Remover', interaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
</table>
  <% if interaction.notes.count > 0 %>
  <p>Notas:</p>
<table>
  <tr>
    <th>Data</th>
    <th>Relator</th>
    <th>Mudanças na Oportunidade</th>	
    <th>Título</th>
    <th>Conteúdo</th>
  </tr>

<% interaction.notes.each do |note| %>
  <%= render :partial => 'notes/index', :locals => {:note => note} %>
<% end %>
</table>
<% end %>
 
<% end %>



<h2>Interações Técnicas</h2>

<table>
  <tr>
    <th>Assunto</th>
    <th>Status</th>
    <th>Relator</th>
    <th>Responsável</th>	
    <th>Notas</th>
    <th>Data</th>
  </tr>

<% @issues.each do |issue| %>
  <tr>  	
    <td><%=h issue.subject %></td>
    <td><%=h issue.issue_status %></td>
    <td><%=h issue.creator %></td>
    <td><%=h issue.responsible %></td>
    <td><%=h issue.notes.count %></td>
    <td><%=h issue.created_at.strftime("%D as %H:%M") %></td>
    <td><%= link_to 'Detalhes', issue %></td>
    <td><%= link_to 'Alterar', edit_issue_path(issue) %></td>
    <td><%= link_to 'Remover', issue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
