<% content_for :shortcuts do %>
<ul>
<li><%= link_to 'Voltar para contas', home_path %></li>
</ul>
<% end %>


<h1>Alterando Conta</h1>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome_fantasia %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %>
  </p>
  <p>
    <%= f.label :razão_social %><br />
    <%= f.text_field :legal_name %>
  </p>
  <p>
    <%= f.label :gerente %><br />
	<%= select :account, :manager_id, User.find(:all).collect{|u| [u.login, u.id] } %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>