<% content_for :shortcuts do %>
<ul><li><%= link_to 'Adicionar Conta', new_account_path %></li></ul>

<% end %>

<h2>Todas as Contas</h2>
<table>
  <tr>
    <th>Nome Fantasia</th>	
    <th>CNPJ</th>	
    <th>Razão Social</th>	
    <th>Valor</th>
    <th>Interações</th>
    <th>Problemas</th>	
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to account.name, account %> ( <%= account.opportunities.count %> ) <%= link_to_function("^", "$('show_link_%s').hide();$('submenu_%s').show();$('hide_link_%s').show();" % [account.id, account.id, account.id], {'id'=>'show_link_%s' % account.id })%> <%= link_to_function("v", "$('show_link_%s').show();$('submenu_%s').hide();$('hide_link_%s').hide();" % [account.id, account.id, account.id] , {'id'=>'hide_link_%s' % account.id, 'style'=>"display:none"})%>
      <ul id="submenu_<%= account.id %>" class="submenu wbadges" style="display:none">
      	<% account.opportunities.each do |opportunity| %>
        <li class="bin shared">
          <%= link_to opportunity, opportunity%>
        </li>
		<% end %>
      </ul>
    </td>
    <td><%=h account.cnpj %> </td>
    <td><%=h account.legal_name %> </td>
    <td>R$ <%= "%.2f" % account.opportunities.sum(:value) %></td>
    <td><%= account.interactions_sum %></td>
    <td><%= account.open_issues_sum %>/<%= account.issues_sum %></td>
    <td><%= link_to 'Nova Oportunidade', new_account_opportunity_path(account) %></td>	
  </tr>
<% end %>
</table>

<br />