<h2>Nova Conta</h2>

<% form_for(@account) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome_fantasia %><br />
    <%= f.text_field :name %><br />
  </p>
  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj %><br />
  </p>
  <p>
    <%= f.label :razão_social %><br />
    <%= f.text_field :legal_name %><br />
  </p>
  <p>
    <%= f.label :gerente %><br />
	<%= select :account, :manager_id, User.find(:all).collect{|u| [u.login, u.id] } %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', home_path %>