<% content_for :title do %>
<%=h @account.name %> 
<% end %>
<% content_for :back do %>
<ul>
	<li><%= link_to "Voltar para contas", accounts_url %></li>
</ul>
<% end %>
<% content_for :shortcuts do %>
<ul>
	<li><%= link_to "Alterar Conta", edit_account_url(@account) %></li>
	<li><%= link_to "Remover Conta", @account, :confirm => 'Tem certeza?', :method => :delete %></li>
	<% unless @account.address %>
	<li><%= link_to "Incluir Endereço", new_account_address_url(@account) %></li>
	<% end %>
	<li><%= link_to "Incluir Telefone", new_account_phone_url(@account) %></li>
	<li><%= link_to "Incluir Informação", new_account_fact_url(@account) %></li>
	<li><%= link_to 'Adicionar Oportunidade', new_account_opportunity_path(@account) %></li>
</ul>
<% end %>

<h2> Detalhes de Conta </h2> 
<p>
  <strong>Nome Fantasia:</strong>
  <%=h @account.name %>
</p>
<p>
  <strong>CNPJ:</strong>
  <%=h @account.cnpj %>
</p>
<p>
  <strong>Razão Social:</strong>
  <%=h @account.legal_name %>
</p>
<p>
  <strong>Gerente:</strong>
  <%=h @account.manager.login %>
</p>
   
<p>
  <strong>Endereço: </strong> <%=h @account.address %>
  <% if @account.address %>
  ( <%= link_to "Alterar endereço", edit_account_address_url(@account) %> )
  <% else %>
  Ainda não foi cadastrado. (<%= link_to "Cadastrar", new_account_address_url(@account) %>)
  <% end %>
</p>

<h2>Telefones para Contato</h2>
<% unless @account.phones.count.zero? %>
<table>
  <tr>
    <th>Número</th>
	<th>Descrição</th>
    <th>Operadora</th>
    <th>Tipo</th>
  </tr>

  <% @account.phones.each do |phone| %>
  <tr>
    <td><%=h phone.number %></td>
    <td><%=h phone.description %></td>
    <td><%=h phone.company %></td>
    <td><%=h phone.phone_type %></td>
    <td><%= link_to 'Alterar', edit_phone_path(phone) %></td>
    <td><%= link_to 'Remover', phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>	
  <% end %>
</table>
<% else %>
<p>Ainda não existem telefones cadastrados. (<%= link_to "Cadastrar", new_account_phone_url(@account) %>)</p>
<% end %>
<h2>Informações</h2>

<% unless @facts.count.zero? %>
<table>
  <tr>
    <th>Tipo</th>
    <th>Valor</th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%=h fact.information_category.name %></td>
    <td><%=h fact.content %></td>
    <td><%= link_to 'Alterar', edit_fact_path(fact) %></td>
    <td><%= link_to 'Remover', fact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem informações associadas a essa conta. (<%= link_to "Adicionar", new_account_fact_url(@account) %>)</p>
<% end %>

<h2>Pessoas</h2>

<% unless @account.links.count.zero? %>
<table>
  <tr>
  	<th>Nome</th>
    <th>Relacionamento</th>
    <th>Complemento</th>
  </tr>

<% @account.links.each do |link| %>
  <tr>
    <td><%=h link.person %></td>
    <td><%=h link.friendly_link_type %></td>
    <td><%=h link.complement %></td>
    <td><%= link_to 'Alterar', edit_link_path(link) %></td>
    <td><%= link_to 'Remover', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem pessoas associadas a essa conta.</p>
<% end %>



<h2>Oportunidades</h2>

<% unless @opportunities.count.zero? %>
<table>
<tr>
  <th scope="col" abbr="Produto">Produto</th>  
  <th scope="col" abbr="Valor">Valor</th>
  <th scope="col" abbr="Valor">Status</th>
  <th scope="col" abbr="Valor">Gerente</th>
</tr>
<% @opportunities.each do |opportunity| %>
<tr>
  <td><%= link_to opportunity.product, opportunity %></td>
  <td>R$ <%=h opportunity.formated_value %></td>
  <td><%=h opportunity.opportunity_status %></td>
  <td><%=h opportunity.manager %></td>
</tr>
<% end %>
</table>
<% else %>
<p>Ainda não existem oportunidades associadas a essa conta.</p>
<% end %>