<h2> Conta <%= @account.name %></h2> 
<p>
  <b>Gerente:</b>
  <%=h @account.manager.login %>
</p>


<h3>Oportunidades</h3>

<% @opportunities.each do |opportunity| %>
<table id="mytable" cellspacing="0" summary="The technical
specifications of the Apple PowerMac G5 series">
<caption>Criada em <%= opportunity.created_at %> por <%=h opportunity.creator %></caption>
<tr>
  <th scope="col" abbr="Produto"><%=h opportunity.product %></th>
  <th scope="col" abbr="Opções">
	    <%= link_to 'Detalhes', account_opportunity_path(@account, opportunity) %> | 
  	    <%= link_to 'Alterar', edit_account_opportunity_path(@account, opportunity) %> | 
	    <%= link_to 'Remover', account_opportunity_path(@account,opportunity), :confirm => 'Tem Certeza?', :method => :delete %>
  </th>
</tr>
<tr>
  <th scope="row" class="specalt" abbr="Valor">Valor: R$ <%=h opportunity.value %></th>
  <td>Atualmente em: <%=h opportunity.opportunity_status %></td>
</tr>
<tr>
	<td>  	
    </td>
    <td>Gerenciada por: <%=h opportunity.manager %></td>
</tr>
</table>

<% end %>


<br />

<%= link_to 'Nova Oportunidade', new_account_opportunity_path(@account) %>
<%= link_to 'Voltar', home_path %>