<% content_for :shortcuts do %>
<ul>
	<li><%= link_to "Incluir Telefone", new_account_phone_url(@account) %></li>
	<li><%= link_to "Incluir Informação", new_account_fact_url(@account) %></li>
	<li><%= link_to 'Adicionar Oportunidade', new_account_opportunity_path(@account) %></li>
	<% unless @account.address %>
	<li><%= link_to "Incluir Endereço", new_account_address_url(@account) %></li>
	<% end %>
</ul>
<% end %>

<h2> Detalhes de Conta </h2> 
<p>
  <strong>Nome Fantasia:</strong>
  <%=h @account.name %>
</p>
<p>
  <strong>CNPJ:</strong>
  <%=h @account.cnpj %>
</p>
<p>
  <strong>Razão Social:</strong>
  <%=h @account.legal_name %>
</p>
<p>
  <strong>Gerente:</strong>
  <%=h @account.manager.login %>
</p>
   
<p>
  <strong>Endereço: </strong> <%=h @account.address %>
  <% if @account.address %>
  ( <%= link_to "Alterar endereço", edit_account_address_url(@account) %> )
  <% end %>
</p>

<h2>Telefones para Contato</h2>
<table>
  <tr>
    <th>Número</th>
	<th>Descrição</th>
    <th>Operadora</th>
    <th>Tipo</th>
  </tr>

  <% @account.phones.each do |phone| %>
  <tr>
    <td><%=h phone.number %></td>
    <td><%=h phone.description %></td>
    <td><%=h phone.company %></td>
    <td><%=h phone.phone_type %></td>
    <td><%= link_to 'Alterar', edit_phone_path(phone) %></td>
    <td><%= link_to 'Remover', phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>	
  <% end %>
</table>

<h2>Informações</h2>

<table>
  <tr>
    <th>Tipo</th>
    <th>Valor</th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%=h fact.information_category.name %></td>
    <td><%=h fact.content %></td>
    <td><%= link_to 'Alterar', edit_fact_path(fact) %></td>
    <td><%= link_to 'Remover', fact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<h2>Pessoas</h2>

<table>
  <tr>
  	<th>Nome</th>
    <th>Relacionamento</th>
    <th>Complemento</th>
  </tr>

<% @account.links.each do |link| %>
  <tr>
    <td><%=h link.person %></td>
    <td><%=h link.friendly_link_type %></td>
    <td><%=h link.complement %></td>
    <td><%= link_to 'Alterar', edit_link_path(link) %></td>
    <td><%= link_to 'Remover', link, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<h2>Oportunidades</h2>

<% @opportunities.each do |opportunity| %>
<table id="mytable" cellspacing="0" summary="Oportunidades">
<caption>Criada em <%= opportunity.created_at %> por <%=h opportunity.creator %></caption>
<tr>
  <th scope="col" abbr="Produto"><%=h opportunity.product %></th>
  <th scope="col" abbr="Opções">
	    <%= link_to 'Detalhes', opportunity %> | 
  	    <%= link_to 'Alterar', edit_opportunity_path(opportunity) %> | 
	    <%= link_to 'Remover', opportunity, :confirm => 'Tem Certeza?', :method => :delete %>
  </th>
</tr>
<tr>
  <th scope="row" class="specalt" abbr="Valor">Valor: R$ <%=h opportunity.value %></th>
  <td>Atualmente em: <%=h opportunity.opportunity_status %></td>
</tr>
<tr>
	<td>  	
    </td>
    <td>Gerenciada por: <%=h opportunity.manager %></td>
</tr>
</table>

<% end %>