<h2> Conta </h2> 
<p>
  <b>Nome Fantasia:</b>
  <%=h @account.name %>
</p>
<p>
  <b>CNPJ:</b>
  <%=h @account.cnpj %>
</p>
<p>
  <b>Razão Social:</b>
  <%=h @account.legal_name %>
</p>
<p>
  <b>Gerente:</b>
  <%=h @account.manager.login %>
</p>
  <%= link_to "Cadastrar telefone", new_account_phone_url(@account) %> | 
  <%= link_to "Cadastrar informação", new_account_fact_url(@account) %> | 

<% unless @account.address %>
  <%= link_to "Cadastrar endereço", new_account_address_url(@account) %>
<% else %>
<h3> Endereço </h3>
  <%=h @account.address %>
  <%= link_to "Alterar endereço", edit_account_address_url(@account) %>
<% end %>

<h3>Telefones </h3>
<table>
  <tr>
    <th>Número</th>
	<th>Descrição</th>
    <th>Operadora</th>
    <th>Tipo</th>
  </tr>

  <% @account.phones.each do |phone| %>
  <tr>
    <td><%=h phone.number %></td>
    <td><%=h phone.description %></td>
    <td><%=h phone.company %></td>
    <td><%=h phone.phone_type %></td>
    <td><%= link_to 'Alterar', edit_phone_path(phone) %></td>
    <td><%= link_to 'Remover', phone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>	
  <% end %>
</table>

<h3>Informações</h3>

<table>
  <tr>
    <th>Tipo</th>
    <th>Valor</th>
  </tr>

<% @facts.each do |fact| %>
  <tr>
    <td><%=h fact.information_category.name %></td>
    <td><%=h fact.content %></td>
    <td><%= link_to 'Alterar', edit_fact_path(fact) %></td>
    <td><%= link_to 'Remover', fact, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<h3>Oportunidades</h3>

<% @opportunities.each do |opportunity| %>
<table id="mytable" cellspacing="0" summary="Oportunidades">
<caption>Criada em <%= opportunity.created_at %> por <%=h opportunity.creator %></caption>
<tr>
  <th scope="col" abbr="Produto"><%=h opportunity.product %></th>
  <th scope="col" abbr="Opções">
	    <%= link_to 'Detalhes', opportunity %> | 
  	    <%= link_to 'Alterar', edit_opportunity_path(opportunity) %> | 
	    <%= link_to 'Remover', opportunity, :confirm => 'Tem Certeza?', :method => :delete %>
  </th>
</tr>
<tr>
  <th scope="row" class="specalt" abbr="Valor">Valor: R$ <%=h opportunity.value %></th>
  <td>Atualmente em: <%=h opportunity.opportunity_status %></td>
</tr>
<tr>
	<td>  	
    </td>
    <td>Gerenciada por: <%=h opportunity.manager %></td>
</tr>
</table>

<% end %>


<br />

<%= link_to 'Nova Oportunidade', new_account_opportunity_path(@account) %>
<%= link_to 'Voltar', home_path %>